# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName zoharica.heliohost.org
AuthUserFile /home1/zoharica/public_html/_vti_pvt/service.pwd
AuthGroupFile /home1/zoharica/public_html/_vti_pvt/service.grp
